# игнорировать виртуальное окружение
venv/

# игнорировать настройки PyCharm
.idea/

# игнорировать временные файлы Python
__pycache__/
*.pyc

#игнорировать базы данных проекта
/database/
test_db_cmd.py
identifier.sqlite